.rbc-today {
    background-color: transparent !important;
}

.calendar-container {
    height: 79vh;
    border: 1px solid black;
    border-radius: 10px;
    /* box-sizing: border-box; */
    /* overflow: hidden; */
    background-color: #f0f0f0;
}

.select-menu {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    border: 1px solid black;
}

.select-menu .select__menu {
    min-width: fit-content;
    /* set your desired minimum width */
    width: auto !important;
    /* override default width */
}

.rbc-allday-cell {
    display: none;
}


.tool-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    height: fit-content;
}

.react-datepicker__input-container {
    height: 100%;
}

.react-datepicker-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.date-picker-wrapper {
    height: fit-content;
}

.select-menu-wrapper {
    display: flex;
    align-items: center;
}

.label-left {
    display: block;
    margin-right: 1rem;
    /* Adjust this margin to your preference */
}