.Layout {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    /* background-color: rgb(215, 215, 242); */
    /* background-image: url("../../LoginArea/Login/background.jpg"); */
    background-image: url("./backgroud.jpg");
    grid-template-columns: 11% 89%;
    grid-template-rows: 15% 85%;
    text-align: -webkit-center;
    }
    
    .SideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 98%;
    border: solid;
    border-color: thistle;
    /* border: 1px rgb(43, 32, 32); */
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 20px;
    width: 12%;
    }
    
    .Header {
    height: 60%;
    width: 97%;
    grid-row-end: 2;
    grid-column-start: 2;
    border: solid;
    border-color: thistle;
    border-radius: 10px;

    /* margin-block-start: 5px; */
    background-color: white;
    margin-top: 5px;
    margin-left: 25px;
    
    /* grid-column-end: 3; */
    }
    
    .Calendar {
    display: table;
    height:30%;
    border: 1px white;
    width: 100%;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 5;
    }